<!DOCTYPE html>
<html>

<head>
	<!-- Etiquetas meta -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Login</title>
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="../public/css/bootstrap.min.css">
	<!--Iconos-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
	<!--Hoja de estilos-->
	<link rel="stylesheet" href="../public/css/signin.css">
</head>

<body class="hold-transition login-page">
	<div class="container">
		<div class="d-flex justify-content-center h-100">
			<div class="card">
				<div class="card-header">
					<div class="d-flex justify-content-center">
						<img src="../public/images/gender-neutral-user.png" />
					</div>
					<h4 class="card-title text-center mb-1 mt-1">Login</h4>
				</div>
				<div class="card-body">
					<!--Formulario del login-->
					<form method="POST" id="frmAcceso" class="form-signin">
						<div class="input-group form-group">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="fas fa-user"></i></span>
							</div>
							<input type="text" id="alias" name="alias" class="form-control" placeholder="Alias Usuario" required pattern="[A-Za-z]{1,15}" title="Agregue un nombre valido ">
						</div>
						<div class="input-group form-group">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="fas fa-key"></i></span>
							</div>
							<input type="password" id="contrasena" name="contrasena" class="form-control" autocomplete placeholder="Contraseña" required pattern="[A-Za-z0-9]{1,30}" title="Ingrese contraseña o clave de seguridad">
						</div>
						<div class="form-group">
							<input type="submit" class="botonLogin btn btn-warning btn-block btn-lg" value="Iniciar Sesión">
						</div>
					</form>
				</div>
				<div class="card-footer"></div>
			</div>
		</div>
	</div>
	<!-- jQuery -->
	<script src="../public/js/jquery-3.5.1.min.js"></script>
	<script src="../public/js/jquery.form.js"></script>
	<!-- Bootstrap-->
	<script src="../public/js/bootstrap.min.js"></script>
	<!-- Bootbox -->
	<script src="../public/js/bootbox.min.js"></script>
	<!--Llamar al archivo login.js-->
	<script type="text/javascript" src="../views/scripts/login.js"></script>
</body>

</html>
